<section id="about" class="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
            I'm an undergraduate Software Engineer student at Louisiana State University,
            with a passion for building software that makes a difference. I have experience in
            full-stack web development, software engineering principles like Agile, and several leadership roles. I'm a creative 
            and detail-oriented problem solver who enjoys working in a team to produce high-quality software.
        </p>

        <p>
            I'm always eager to learn new skills and technologies to become a better developer.
        </p>
        <h3 class="section-title">Experience</h3>
        <a href="https://www.sync1systems.com/" target="_blank" rel="noopener noreferrer">
          <div class="experience-highlight">
            <div class="main-experience">
              <h3>Sync1Systems</h3>
              <h4>Full Stack Development Intern • May 2025 - August 2025</h4>
              <p>Gained hands-on experience in full-stack development while working at Sync1Systems, a leading provider of Loan Origination Software.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
